*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';

}
body {
  margin: 0;
  padding: 0;
  background-image: url('@/assets/img/imagen.png'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  height: 100vh; /* Asegura que cubra la altura completa de la pantalla */
  width: 100vw; /* Asegura que cubra el ancho completo de la pantalla */
  overflow: hidden; /* Elimina barras de desplazamiento innecesarias */
}